:root {
    --blanco: #FFF;
    --blanco1: #edf2f4;
    --marron: #780000;
    --marron02: #6f1d1b;
    --pallet1: #ef476f;
    --pallet2: #ffd166;
    --pallet3: #06d6a0;
    --pallet4: #118ab2;;
    --pallet5: #00b4d8;
    --pallet6: #073b4c;

    --negro: #111111;
    --negro2: #000814;
    --gris: #343a40;
    --gris2: #6c757d;
    --gris3: #adb5bd;

    --azul: #0071b7;
    --azul2: #4361ee;

    --blanco: #FFF;
    --naranja: #ff4f1e;
    --naranja2: #ff7043;
    --naranja3: #ff9866;
    --fuentePrincipal: 'Raleway', sans-serif;
}

html {

    background-color: var(--azul);
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
header{
    background-color: var(--pallet2);

     /* display: flex; 
    min-height: 70px;
    display: flex;    
    background-color:var(--pallet2);
    justify-content: space-between;
    align-items: center;
    padding: 15px; */
    
    /* margin: 10px; */
}
nav a{
    text-align: right;
    font-weight: 1000;
    padding-right: 12px;
    
}
nav a:hover{
    color: #979dac;
     border-bottom: 2px solid #979dac; 
}


/** Globales **/
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 4.8rem;
    text-align: center;
    color: var(--blanco);
}
h2 {
    font-size: 5.8rem;
}
p {
    line-height: 1.8;
}
a {
    text-decoration: none;
    color: var(--blanco3);
}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin-inline: auto;
    width: 90%;
}


.caja-curso {
    background-color: var(--pallet5);
    text-align: center;
    color: var(--blanco);
    padding: 5rem;

}
.caja-curso h1 {
    margin: 0;
}
.caja-curso p {
    font-size: 2.4rem;
}
.caja-curso a {
    font-size: 2.4rem;
    padding: 2rem;
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
    padding: 0;
}

.productos{
    margin-top: 5rem;

}
.productos__heading{
    color: var(--blanco);
    text-align: center;
    padding:3rem 0;
}

@media (min-width: 768px){
    .productos__grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }    
}
.producto{
    background-color:var(--blanco);
    margin-bottom:1rem;
}
@media (min-width: 768px){
    .producto{
        margin-bottom: 0;
    }
}


.producto:last-of-type{
    margin-bottom: 0;
}
.producto__contenido{
    padding: 2rem;

}

.prodcuto__nombre{
    font-size: 4rem;
}
.producto__descripcion{
    color: #8b8b8b;
    margin: 0;
}
.producto__precios{
    display: flex;
    justify-content: space-between;

}
.producto__precio{
    font-size: 4rem;
    color: var(--pallet5);
    font-weight: 900;
    margin: 0;
}
.producto__precio--oferta{
    color: red;
    text-decoration: line-through;
}



.producto__boton{
    all: unset;
    background-color: var(--pallet2);
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color:var(--blanco) ;
    cursor: pointer;

}
.producto__boton:hover{
    background-color: green;
    
}













